.float-shower {
  .addon-after,
  .addon-before {
    width: fit-content;
  }

  .sign {
    .ant-input {
      width: 30px;
    }
  }
}

.float-shower-input {
  display: inline-block;

  .ant-input-group-wrapper.addon-after {
    margin-left: 10px;

    .ant-input-group-addon {
      padding: 0 8px;

      .input-length {
        display: inline-block;
        width: 16px;
      }
    }
  }

  .addon-after.ant-input-affix-wrapper {
    padding-left: 6px;
    padding-right: 6px;
  }

  .exponent {
    .ant-input {
      width: 100px;
    }
  }

  .fraction {
    .ant-input {
      width: 410px;
    }
  }
}

.float-shower-output {
  display: inline-block;

  & > .ant-input {
    padding-left: 6px;
    padding-right: 6px;
    margin-left: 10px;
  }

  .exponent {
    width: 100px;
  }

  .fraction {
    width: 410px;
  }
}
